doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 404
    link(rel="stylesheet" href="/css/main-style.css")
    <script src="https://cdn.tailwindcss.com"></script>
  body.bg-gray-200.h-screen.grid.place-items-center
    .grid.gap-5.place-items-center
      h1.text-5xl.font-semibold Page Not Found 404
      a(href="/").btn.shadow go to shop
